<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="about">
                <h6>About</h6>
                <p class="text-justify">Inhouse Orders <i>Online Ordering Done Right. </i> is a simple, easy-to-use
                    online ordering platform built to maximize revenue retention, minimize hassle, and mobilize data &
                    analytics for independent and family-owned restaurants. </p>
            </div>

            <div class="rightSide">
                <h6>Local Restaurants</h6>
                <ul class="footer-links">
                    <li><a href="https://happycafechinese.com">Happy Cafe</a></li>

                    <li><a href="https://heavendragonarvada.com">Heaven Dragon</a></li>
                    <li><a href="https://hoongspalace.com">Hoong's Palace</a></li>
                    <li><a href="https://lakewoodgrill.online">Lakewood Grill</a></li>
                    <li><a href="https://phocafelafayette.com">Pho Cafe</a></li>
                    <li><a href="https://teagardenarvada.com">Tea Garden</a></li>
                    <li><a href="https://thaibasil-denver.com">Thai Basil</a></li>
                    <li><a href="https://thaihousedenver.com">Thai House</a></li>
                    <li><a href="https://vietnamesecafe.net">Vietnamese Cafe</a></li>
                    <li><a href="https://yurihanaboulder.com">Yurihana</a></li>


                </ul>

            </div>

            <div class="rightSide">
                <h6>Quick Links</h6>
                <ul class="footer-links">
                    <li><a href="https://inhouseorders.io">About Us</a></li>
                    <li><a href="https://inhouseorders.io/how-it-works/">Contact Us</a></li>
                    <li><a href="https://inhouseorders.io/get-started/">Sign Up</a></li>
                    <li><a href="https://inhouseorders.io/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="https://inhouseorders.io/sitemap.xml">Sitemap</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="copyright">
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">Develop Denver LLC</a>.
                </p>
            </div>

            <div class="copyright">
                <ul class="social-icons">
                    <li>
                        <a href="https://www.facebook.com/inhouseorders">
                            <mat-icon>facebook</mat-icon>
                        </a>
                    </li>
                    <!-- <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>