::ng-deep .pac-container {
  position: fixed !important;
  margin-top: 1rem;
}
.orderDetails {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.orderDetails > * {
  width: 100%;
  margin: auto;
  text-align: center;
}
h3 {
  width: 100%;
  text-align: center;

  margin: 0px;
  margin-top: -1.5rem;

}

.toggle {
  color: black;
}

.deliveryAddress {
  width: 100%;
  margin-top: 0.5rem;
}