.bg {
    width: 100%;
    height: 100%;
    background-image: url("https://res.cloudinary.com/inhouse-orders/image/upload/w_1000,f_auto,q_auto/v1603484149/Fire%20Wok%20Faded%20Bg.jpg");
    background-size: cover, cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}