<mat-card>
    <mat-card-content>
        <main *ngIf="(afAuth.user | async) as user else login">

            <h1>Your Inhouse Orders Account</h1>
            <h2 *ngIf="user.isAnonymous">Guest Account</h2>
            <h2 *ngIf="user.email">{{user.email}}</h2>
            <button mat-stroked-button color="warn" (click)="signout()">Sign Out</button>
            <div>
                <h3>Order History</h3>
                <ul>
                    <li *ngFor="let order of orderForm.userDocData.orders">
                        <a [routerLink]="['orderstatus', order]" routerLinkActive="router-link-active">
                            {{order}}
                        </a>
                    </li>
                </ul>
            </div>


        </main>
        <ng-template #login>
            <app-login></app-login>
        </ng-template>
    </mat-card-content>
</mat-card>