.menu-section {
  width: 100%;
  margin: 1rem auto;
  display: flex;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  justify-items: stretch;
}

.groupTitle {
  grid-column-start: 1;
  grid-column-end: 3;
}

.menuItem {
  grid-column-start: auto;
  grid-column-end: span 2;
  cursor: pointer;
  text-align: left;

}

.menuItemName {
  margin-bottom: 0px;
}

.menuItem:hover {
  box-shadow: 0 0 0 3px rgb(29, 153, 255),
    0 1px 5px 0 rgba(67, 41, 163, 0.5);

}


.price {
  color: #07c25b;
  margin: 0px;
  padding-top: 0.5rem;
}

.description {
  color: rgba(0,0,0,.54);
  margin-top: 0.5rem;
  margin-bottom: 0px;
}

@media only screen and (min-width: 700px) {
  .menuItem {
    grid-column-start: auto;
    grid-column-end: span 1;
    cursor: pointer;
  }
}
